/* 

    THE NAVIGATION OF
    THE MENU SHOULD STAY
    BETWEEN 99 and 90 Z-INDEX

*/
.navbar{
    position: relative;
    width: auto;
    height: auto;
    top: 0px;
    left: 50%;
    transform: translateX(-25%);
    margin-top: 10px;
    
}
.nav-header{
    position: relative;
    z-index: 90;
    animation: 2s fadeIn ease-out forwards;
    -moz-animation: 2s fadeIn ease-out forwards;
    -webkit-animation: 2s fadeIn ease-out forwards;
    -o-animation: 2s fadeIn ease-out forwards;
}
.menu-wrapper{
    position: absolute;
    z-index: 91;
    bottom: 25px;
    left: 200px;
}
.nav-menu{
   position: relative; 
}
.nav-menu li{
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    top: 0px;
    left: 0px;
    padding: 5px 10px 5px 10px;
    margin-left: 5px;
    text-decoration: none;
    list-style: none;
    border: 3px solid black;
    text-align: center;
    background: white;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 5px 5px 0px black;
    transition: background 1s;
    cursor: pointer;    
}
.nav-menu li:hover{
    top: 1px;
    left: 1px;
}
a:hover{
    color: darkgray;
    text-decoration: none;
    list-style: none;
}

/* Animation for nav */

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@-moz-keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@-webkit-keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@-o-keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
