<html>
<head>
    <title>SOUND CONTROL RECORDS</title>
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css"/>
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
</head>
<body>
<div id="app"></div>
<script src="bundle.js"></script>
</body>
</html>